{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
   <div id="flowManagerDialogue" class="modal fade" role="dialog">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-body">
            <ul class="main_block">

               <li class="has_child parent_block add_blick_list" id="B1" data-block-type="INIT">
                  <i class="fas fa-arrow-alt-right"></i> 
                  <span class="title"><i class="fal fa-cube"></i> Project Initiation</span>
                  <div class="block_options">
                   <a href="#" class="addNewBlock">Add Below</a>
                  </div>
                  <ul class="sub_block has_child">
                  </ul>
               </li>

               <li class="has_child parent_block add_blick_list" id="B2"  data-block-type="CMPT">
                  <i class="fas fa-arrow-alt-right"></i> 
                  <span class="title"><i class="fal fa-cube"></i> Completion</span>
                  <div class="block_options">
                   <a href="#" class="addNewBlock">Add Below</a>
                  </div>
                  <ul class="sub_block has_child">
                  </ul>
               </li>
            </ul>
         </div>
      

      <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" onclick="obj.saveToJson()" class="btn btn-primary">Save</button>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container-fluid">
   <div id="randimiser_form" class="modal" >
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
          <div class="modal-body">
              <button type="button" class="btn close-btn randomiser_close" ><i class="fal fa-times"></i></button>
                  <span class="title"><i class="far fa-retweet"></i> Randomiser</span>
                  <div class="block_options">
                   Randomly present <button class="minus"><i class="fas fa-minus-circle"></i></button> <input type="text" class="qty" value="0"> <button class="plus"><i class="fas fa-plus-circle"></i></button> of the following elemenys <input type="checkbox" class="check"> Evenly present Elements
                  </div>
         </div>
      

      </div>
    </div>
  </div>
</div> -->

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
  

</script>
{% endblock %}
